{{ partial "header.html" . }}

<style>
    .image-portrait {
        width: 20%;
    }
    
    @media (min-width: 640px) {
        .image-portrait {
            width: 100%;
        }
    }
    
    @media (min-width: 1024px) {
        .image-portrait {
            width: 80%;
        }
    }
</style>

    <ul>
    
    {{ $paginator := .Paginate (where .Pages "Type" "blog") }}

    {{ range $paginator.Pages }}
        {{ partial "summary.html" . }}
    {{ end }}

    <!--{{ partial "pagination.html" . }}-->

    </ul>
    
<!--{{ partial "sidebar.html" . }}-->

{{ partial "footer.html" . }}
