{{ partial "header.html" . }}

<style>
    .image-portrait {
        width: 20%;
    }
</style>

    <article class="post">
        <h1 class="post__title">{{ .Title }}</h1>
    
        <p class="post__meta">
            Published on <time pubdate datetime="{{ .Date }}">{{ .Date.Format "Jan 2, 2006" }}</time><span class="mid-dot-divider"></span>{{ .ReadingTime }} min read</p>
    
        <div class="post__content">
            {{ .Content }}
        </div>

    </article>

{{ partial "footer.html" . }}
