<!-- HIGHLIGHT.JS -->
<!--{{ if .Site.Params.highlightEnabled | default false }}-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>-->

<!--{{ range .Site.Params.highlightLanguages }}-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/{{ . }}.min.js"></script>-->
<!--{{ end }}-->

<!--<script>hljs.initHighlightingOnLoad();</script>-->
<!--{{ end }}-->

<!-- PRISM.JS -->
<!--<script defer src="{{ .Site.BaseURL }}js/prism.js"></script>-->

<script>
    var _gauges = _gauges || [];
    (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '59aea9037218b559cb0589cd');
        t.setAttribute('data-track-path', 'https://track.gaug.es/track.gif');
        t.src = 'https://d36ee2fcip1434.cloudfront.net/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
    })();
</script>
