<li class="post">
    <h2 class="post__title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
    
    <div class="post__meta">
        <time datetime="{{ .Date }}">{{ .Date.Format "Jan 2, 2006" }}</time>
    </div>
    
    <!--<div class="post__tags">-->
        <!--{{ range .Params.tags }}-->
        <!--<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>-->
        <!--{{ end }}-->
    <!--</div>-->
    
    <div class="post__summary">
        {{ .Summary }}
        {{ if .Truncated }}
        <p class="post__read-more-link"><small><a href="{{ .Permalink }}">Read more...</a></small></p>
        {{ end }}
    </div>
</li>
