@charset "UTF-8";

/***************************************************************************************************
* Text utilities
***************************************************************************************************/
.text-italic { font-style: italic !important; }

/* Text alignment */
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.text-center { text-align: center !important; }
.text-justify { text-align: justify !important; }

/* Text case */
.text-lowercase { text-transform: lowercase !important; }
.text-uppercase { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }

/* Text wrapping */
.text-nowrap { white-space: nowrap !important; }

/***************************************************************************************************
* Float utilities
***************************************************************************************************/

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

/***************************************************************************************************
* Ellipsis
***************************************************************************************************/
/* do not wrap, show ellipses instead */
.ellipsis {
       overflow: hidden;
       text-overflow: ellipsis;
       white-space: nowrap;
}

.no-ellipsis {
    overflow: auto;
    text-overflow: initial;
    white-space: normal;
}

/* taken from here: https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
don't break out text, helpful for e.g. long url's or user-generated content */
.dont-break-out {
   /* These are technically the same, but use both */
   overflow-wrap: break-word;
   word-wrap: break-word;

   -ms-word-break: break-all;
   /* This is the dangerous one in WebKit, as it breaks things wherever */
   word-break: break-all;
   /* Instead use this non-standard one: */
   word-break: break-word;

   /* Adds a hyphen where the word breaks, if supported (No Blink) */
   -ms-hyphens: auto;
   -moz-hyphens: auto;
   -webkit-hyphens: auto;
   hyphens: auto;
}

/* A small circle divider, use as span: <span class="middotDivider"></span> */
.middotDivider {
    padding-right: .45em;
    padding-left: .45em;
}

.middotDivider:after {
    content: '·'
}
