:root {
    --color-grey-dark: #111112; /* rgba(17, 17, 18, 1) */
    --color-grey-medium: #555556; /* rgba(85, 85, 86, 1) */
    --color-link: #00d1b2; /*#00BBFF;*/
    --color-link-hover: rgba(0, 209, 178, .3);
}

*, *:before, *:after {
    box-sizing: border-box;
}

* {
    font-family: inherit;
    line-height: inherit;
    color: inherit;

    margin: 0;
}

* + * {
    margin-top: 1.5rem;
    margin-bottom: 0;
}

footer * + * {
    margin-top: .75rem;
}

li + li {
    margin-top: 5rem;
}

body, br, dt, dd, th, td, option {
    margin-top: 0;
}

html, body {
    height: 100%;
}

html {
    font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-grey-medium);
}

body {
    background-color: #fff;
    font-size: calc(1rem - 2px + .5vw);
}

strong {
    font-weight: 600;
    color: var(--color-grey-dark);
}

blockquote {
    border-left: 5px solid rgba(85, 85, 86, .2);
    margin: 0 0 0 .25rem;
}

blockquote p {
    padding: 0 0 0 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: var(--color-grey-dark);
}

h1 {
    /*font-size: 2.5rem; !* default textual content heading *!*/
    letter-spacing: -.05rem;

    font-size: calc(1.5rem + 2vw);
}

@media (min-width: 640px) {
    h1 {
        /*font-size: 3.125rem;*/
        /*font-size: 2rem;*/
    }
}

h2 {
    /*font-size: 2rem;*/
    font-size: 1.25rem;
    font-weight: 600;
}

@media (min-width: 640px) {
    h2 {
        font-size: 1.5rem;
    }
}

h3 {
    font-size: 1rem;
    font-weight: 600;
}

@media (min-width: 640px) {
    h3 {
        font-size: 1.25rem;
    }
}

h4 {
    font-size: 1rem;
}

h5 {

}

h6 {

}

p, ul, li {
    /*font-size: 1rem;*/
}

@media (min-width: 640px) {
    p, ul, li {
        /*font-size: 1.25rem;*/
    }
}

ul {
    padding-left: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
    box-shadow: inset 0 -2px 0 0 var(--color-link);
    padding-bottom: .0625rem;
    transition: all .25s ease;
}

a:link {
    color: inherit;
}

a:visited {

}

a:hover {
    box-shadow: inset 0 -22px 0 0 var(--color-link-hover);
}

a:active {
    background-color: #ffe400;
    box-shadow: none;
}

code,
kbd,
samp {
    font-family: native, menlo, monospace;
    font-size: .75em;
}

/* inline code blocks */
code:not([class*="language-"]) {
    padding: .125rem .25rem;
    background: rgba(85, 85, 86, 0.05);
    color: #df0050;
    box-shadow: 0 0 0 1px rgba(85, 85, 86, 0.2);
    border-radius: 2px;
}

code[class*="language-"],
pre[class*="language-"] {
    line-height: 1;
}

header {
    padding: 1em;
    background-color: #eee;
}

header a {
    box-shadow: none;
}

footer {
    padding: 2em 0;
}

footer, footer p, footer ul, footer li {
    background-color: #fff;
    font-size: .9125rem;
}

aside {
    /*background-color: lightsalmon;*/
}

main {

}

/*nav ul {*/
    /*list-style: none;*/
    /*padding-left: 0;*/
/*}*/

nav ul li,
footer ul li {
    display: inline-block;
    padding: 0 1em;
    font-size: .825rem;
    margin-top: 0;
}

nav ul li a:hover,
nav ul li a:active {
    text-decoration: underline;
    box-shadow: none;
}

footer ul li a:hover,
footer ul li a:active {
    box-shadow: none;
}



.full-width {
    width: 100%;
    /*max-width: 42rem;*/
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    /*padding: 0 2rem;*/
}

@media (min-width: 1024px) {
    .container:not(.container--full) {
        max-width: 42rem;
    }
}

.centered {
    text-align: center;
    margin-bottom: -1rem; /* adjusts for leftover bottom margin of children */
}

.centered > * {
    display: inline-block;
    margin: 0 0.5rem 1rem;
}

/* LIST */
.post__title {

}

.post__summary {
    text-align: justify;
}

article .post__title,
article .post__meta {
    text-align: center;
}

article .post__content {
    margin-top: 3rem;
}

.post__meta {
    font-size: .75rem;
    margin-top: .75rem;
}

h1 + h2 {
    margin-top: .5rem;
}

h1 + p {
    margin-top: .25rem;
}

h2 + p,
h3 + p {
    margin-top: .75rem;
}



.mid-dot-divider {
    padding-right: .45em;
    padding-left: .45em;
}

.mid-dot-divider:after {
    content: "·";
}









